
.footer{
	background-color: gray;

}
.navbar{
	background-color: orange;

}
.share_btn{
	
}

.index{
	font-size:36px;
	font-family: 'Indie Flower', cursive;
	/*padding-left: 0px;*/
	/*border:1px solid black;*/

}
.main{
	min-height: 500px;

}

.footer_text{
	color: white;
	font-size: 24px;
}

